/Shiliu.DigitalHuman.Wpf/bin
/Shiliu.DigitalHuman.Wpf/obj
/Shiliu.Oral.Sdk.Abstractions/bin
/Shiliu.Oral.Sdk.Abstractions/obj
/Shiliu.Oral.Sdk.Infrastructure/bin
/Shiliu.Oral.Sdk.Infrastructure/obj
/Shiliu.Oral.Sdk/bin
/Shiliu.Oral.Sdk/obj
/Shiliu.Oral.Sdk.Abstractions/.vs
/Shiliu.DigitalHuman.Wpf/.vs
/Shiliu.Oral.Sdk/.vs
Shiliu.DigitalHuman.Wpf/DXEngineWrap.dll
/Shiliu.Oral.Sdk.Infrastructure/.vs
