/Shiliu.DigitalHuman.Wpf/bin
/Shiliu.DigitalHuman.Wpf/obj
/Shiliu.Oral.Sdk.Abstractions/bin
/Shiliu.Oral.Sdk.Abstractions/obj
/Shiliu.Oral.Sdk.Infrastructure/bin
/Shiliu.Oral.Sdk.Infrastructure/obj
/Shiliu.Oral.Sdk/bin
/Shiliu.Oral.Sdk/obj
/Shiliu.Oral.Sdk.Abstractions/.vs
/Shiliu.DigitalHuman.Wpf/.vs
/Shiliu.Oral.Sdk/.vs
Shiliu.DigitalHuman.Wpf/DXEngineWrap.dll
/Shiliu.Oral.Sdk.Infrastructure/.vs
/.vs/Shiliu-SDK/v18
/.vs/Shiliu-SDK/FileContentIndex
/.vs/Shiliu-SDK/CopilotIndices/18.8.1034.178
